# Dependencias
node_modules/

# Archivos de entorno
.env

# Logs
logs
*.log
npm-debug.log*

# Coverage de pruebas
coverage/

# Directorio de build
dist/
build/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.swp
*.swo